/*GENERAL*/


* {
    box-sizing: border-box;
}

.logo{
    height: 15vw;
    border-radius: 50%;
     aspect-ratio: 1 / 1;
}

/* HEADER */

header {
    background-color: #cbd8df;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px;
}


.logo {
    width: 180px;
    height: 180px;
    aspect-ratio: 1 / 1; 
    border-radius: 47% 47% 47% 47%;
}


.formularios {

    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 30px;

}

.formularios form {

    width: 100%;

}

.buscadorheader {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.buscadorheader input {
     width: 100%;
    height: 40px;
}


/* NAV */

.navheader {
    display: flex;
    align-items: center;
}





/* LISTA */

.navheader ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ELEMENTOS DE LA LISTA */

.navheader li {
    background-color: #f5eee27d;
    padding: 30px 50px;
    border-radius: 15px;
}

/* LINKS */

.navheader a {
    text-decoration: none;
    color: #242424;
}


/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0 20px;
    background-color: #557D96;
    color: #F4E6CF;
    font-family: "Montserrat", sans-serif;
}

/* primer nav */

.navfooterprincipal {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.cajafooter {
    width: 30%;
    text-align: left;
}

.cajafooter p {
    margin: 8px 0;
}

.cajafooter p a {
    color: #F4E6CF;
    text-decoration: none;
}

/* segundo nav */

.navfootersecundario {
    width: 90%;
}

.navfootersecundario ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: black;
    padding: 10px;
    margin: 20px 0 0 0;
}

.navfootersecundario li {
    padding: 0 5px;
    border-right: 1px solid; 
    color:  #FFFFFF;
}
