/* general */

* {
    box-sizing: border-box;
}

.logo{
    height: 15vw;
    border-radius: 50%;
     aspect-ratio: 1 / 1;
}

/* header html */

header {
    background-color: #cbd8df;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 30px;

}


.logo {
    width: 180px;
    height: 180px;
    aspect-ratio: 1 / 1; 
    border-radius: 47% 47% 47% 47%;
}

.formularios {

    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 30px;

}

.formularios form {

    width: 100%;

}

.buscadorheader {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.buscadorheader input {
     width: 100%;
    height: 40px;
}


/* nav */

.navheader {
    display: flex;
    align-items: center;
}

/* lista */

.navheader ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* elementos de la lista */

.navheader li {
    background-color: #f5eee27d;
    padding: 30px 50px;
    border-radius: 15px;
}

/* enlaces */

.navheader a {
    text-decoration: none;
    color: #242424;
}





/* main index */

/* cajapadre1 */

.cajaPadreUno {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    background-color: rgba(250, 240, 227, 0.68);
}

.productosaleatorios {
    width: 100%;
    text-align: center;
    background-color: #416a8372;
    border-radius: 35px;
}

.imagenesproductos{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cajaPadreUno article {
    width: 22%;
    text-align: center;
}



/* cajapadre2 */

.cajaPadreDos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    background-color: rgba(250, 240, 227, 0.68);
}

.masvendidos {
    width: 100%;
    text-align: center;
    background-color: #416a8372;
    border-radius: 35px;
}

.imagenesproductosdos{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.cajaPadreDos article {
    width: 22%;
    text-align: center;
}






/* footer html */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px 0 20px;
    background-color: #557D96;
    color: #F4E6CF;
    font-family: "Montserrat", sans-serif;
}

/* primer nav */

.navfooterprincipal {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.cajafooter {
    width: 30%;
    text-align: left;
}

.cajafooter p {
    margin: 8px 0;
}

.cajafooter p a {
    color: #F4E6CF;
    text-decoration: none;
}

/* segundo nav */

.navfootersecundario {
    width: 90%;
}

.navfootersecundario ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    color: black;
    padding: 10px;
    margin: 20px 0 0 0;
}

.navfootersecundario li {
    padding: 0 5px;
    border-right: 1px solid; 
    color:  #FFFFFF;
}







/* login */

.mainlogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FAF8F3;
    padding: 50px 0;
}

.sectionlogin {
    width: 100%;
    max-width: 430px;
    background-color: #F4E6CF;
    padding: 45px;
    border-radius: 20px;
    width: 500px;
}

.sectionlogin h2 {
    margin: 0;
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    color: #292c2c;
    margin-bottom: 20px;
}

.divlogin {
    margin: 0 0 20px 0;
}

.sectionlogin input {
    width: 100%;
    padding: 10px;

    box-sizing: border-box;

    border: 1px solid #686E70;
    border-radius: 5px;
}

.buttonlogin {
    width: 100%;
    background-color: #557D96;
    color: white;
    padding: 12px;
    border-radius: 25px;
    border: 2px solid #416A83;
    font-size: 17px;
    font-weight: bold;
}

.sectionlogin a {
    color: #416A83;
    text-decoration: none;
}

input {
    width: 100%;
}